# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignored heavy folders
.mediafactory/
/Output/
Workspaces/
dist-electron/
dist/
Cache/
*.mp4
*.mp3
*.wav
Test_Output/
dummy_bg.jpg
dummy_audio.mp3
dist-release/
backend/bin/
backend/ffmpeg/
*.exe
production_report.*